a {
    color: white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
}

a.active {
    background: #ffffff00 !important;
    border: 2px solid #007AFF;
    color: #4b87fd !important;
    font-weight: 700;
}


.Sitelogo.active {
    border: none !important;
    color: #fff !important;
}


.dropdown-content {
    z-index: 10;
}